<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}游戏中心{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('home') }}">游戏平台</a>
            <div class="navbar-links">
                {% if session.get('username') %}
                    <span>欢迎, {{ session['username'] }}!</span>
                    <a href="{{ url_for('rankings') }}">排行榜</a>
                    <a href="{{ url_for('about') }}">关于</a>
                    <a href="{{ url_for('logout') }}">退出登录</a>
                {% else %}
                    <a href="{{ url_for('login') }}">登录</a>
                    <a href="{{ url_for('register') }}">注册</a>
                    <a href="{{ url_for('about') }}">关于</a>
                {% endif %}
            </div>
        </div>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class=flashes>
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <div class="content">
        {% block content %}{% endblock %}
    </div>
<!-- 
    <footer>
        <div class="container">
            <p>&copy; 2025 游戏平台. All rights reserved.</p>
        </div>
    </footer> -->

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
